* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

body {
  position: relative;
}

.section-hero {
  background-color: beige;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  padding: 20rem 50rem;
}

.hero-text {
  text-align: center;
}

.hero-title {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 500;
}

.hero-main-text {
  font-size: 4rem;
  margin-top: 2.5rem;
  font-weight: 700;
}

.color-pink {
  color: #ff24c8;
}
.hero-promo {
  font-size: 1.4rem;
  margin-top: 5rem;
  font-weight: 500;
}
.promo-code {
  background-color: #ff24c8;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.hero-img img {
  width: 100%;
}

.main {
  background-color: #eee;
  display: flex;
  gap: 2rem;

  padding: 10rem 50rem;
}

.shop {
  width: 75%;
}

.category-title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.category {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
}

.product-card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.6rem;
  border-radius: 4px;
  aspect-ratio: 9/12;

  cursor: pointer;
}
.product-img {
  width: 100%;
  height: 60%;
  padding: 2rem 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  border-radius: 4px;
  margin-bottom: 1rem;
}
.product-title {
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 1rem;
}
.product-price {
  font-size: 1rem;
  color: #aaa;
}

aside {
  margin-top: 5rem;
  width: 25%;
}

.promo {
  background-color: #fff;
  padding: 1.2rem;
  border-radius: 4px;
  margin-bottom: 2rem;
}

.promo p {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.promo-input {
  display: flex;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.promo-input input {
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
  width: 70%;
}

.apply-coupon {
  width: 30%;
  font-size: 1.4rem;
}

.cart {
  background-color: #fff;
  border-radius: 4px;
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: 500;
}

.cart-list {
  min-height: 4rem;
  list-style-type: decimal-leading-zero;
  padding-bottom: 1rem;
  border-bottom: 1px solid #eee;
}
.cart-list li {
  margin-left: 2.4rem;
}
.cart-info {
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #eee;
}
.cart-info .cart-numbers {
  color: #aaa;
}

.purchase {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  width: 100%;
  border-radius: 4px;
}

.button:disabled {
  background-color: #e7dfdf;
  color: #aaa;
}

.button:not(:disabled) {
  border: none;
  background-color: #ff24c8;
  color: #fff;
  cursor: pointer;
}
.button:not(:disabled):hover {
  background-color: #ff247f;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  backdrop-filter: brightness(70%);
}

.home-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background-color: #fff;
  border-radius: 4px;
  padding: 4rem;
  text-align: center;
}

.modal-img {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.modal-img img {
  width: 50%;
}

.congo {
  font-size: 2rem;
  font-weight: 700;
}

.done {
  font-size: 1rem;
  color: #aaa;
}

.home {
  padding: 0.8rem 1.5rem;
  border-radius: 4px;
  border: none;
  font-size: 1rem;
  margin-top: 2rem;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

@media (max-width: 1200px) {
  .section-hero {
    padding: 5rem 15rem;
  }
  .main {
    padding: 5rem 15rem;
  }
}
@media (max-width: 800px) {
  .section-hero {
    padding: 2rem 6rem;
  }
  .main {
    padding: 2rem 6rem;
  }
  .product-img {
    padding: 2.5rem;
  }
}
